.container{
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction:column;
  background-color:rgb(241, 241, 241)
}
/* <<<<<<<<GRAPH CSS>>>>>>>>> */
.top-half {
  display: flex;
  height:50%;
  width:100%;
}

.bottom-half {
  display: flex;
  height:50%;
  width:100%;
}

.quadrant {
  width:50%;
  border: 1px solid;
  border-top:none;
  z-index:1;
  position: relative;
}

.x-axis {
  display:flex;
  justify-content: space-around;
  z-index: 2;
}

.x-axis-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x-axis p{
  margin: 0;
  padding: 0;
}

.y-axis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-evenly;
  z-index:2;
  position:absolute;
}

.y-axis p{
  margin: 0;
  padding: 0;
}

.y-axis-steps {
  display: flex;
}